In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')

In [3]:
movies

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,19.62,2010
1,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010
2,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
3,What Happens in Vegas,Comedy,Fox,72,6.267647,28,219.37,2008
4,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,117.09,2011
...,...,...,...,...,...,...,...,...
71,Across the Universe,romance,Independent,84,0.652603,54,29.37,2007
72,A Serious Man,Drama,Universal,64,4.382857,89,30.68,2009
73,A Dangerous Method,Drama,Independent,89,0.448645,79,8.97,2011
74,27 Dresses,Comedy,Fox,71,5.343622,40,160.31,2008
75,(500) Days of Summer,comedy,Fox,81,8.096000,87,60.72,2009

In [4]:
movies.sort_values('Audience score %')

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
1,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010
47,Love Happens,Drama,Universal,40,2.004444,18,36.08,2009
17,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,127.77,2007
2,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
54,Killers,Action,Lionsgate,45,1.245333,11,93.40,2010
...,...,...,...,...,...,...,...,...
38,My Week with Marilyn,Drama,The Weinstein Company,84,0.825800,83,8.26,2011
71,Across the Universe,romance,Independent,84,0.652603,54,29.37,2007
21,Tangled,Animation,Disney,88,1.365692,89,355.01,2010
5,WALL-E,Animation,Disney,89,2.896019,96,521.28,2008
73,A Dangerous Method,Drama,Independent,89,0.448645,79,8.97,2011

In [5]:
movies.sort_values('Audience score %', ascending=False)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
73,A Dangerous Method,Drama,Independent,89,0.448645,79,8.97,2011
5,WALL-E,Animation,Disney,89,2.896019,96,521.28,2008
21,Tangled,Animation,Disney,88,1.365692,89,355.01,2010
38,My Week with Marilyn,Drama,The Weinstein Company,84,0.825800,83,8.26,2011
71,Across the Universe,romance,Independent,84,0.652603,54,29.37,2007
...,...,...,...,...,...,...,...,...
54,Killers,Action,Lionsgate,45,1.245333,11,93.40,2010
2,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
17,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,127.77,2007
47,Love Happens,Drama,Universal,40,2.004444,18,36.08,2009
1,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010

In [6]:
movies.sort_values(['Audience score %', 'Rotten Tomatoes %'], ascending=False)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
5,WALL-E,Animation,Disney,89,2.896019,96,521.28,2008
73,A Dangerous Method,Drama,Independent,89,0.448645,79,8.97,2011
21,Tangled,Animation,Disney,88,1.365692,89,355.01,2010
42,Midnight in Paris,Romence,Sony,84,8.744706,93,148.66,2011
38,My Week with Marilyn,Drama,The Weinstein Company,84,0.825800,83,8.26,2011
...,...,...,...,...,...,...,...,...
54,Killers,Action,Lionsgate,45,1.245333,11,93.40,2010
2,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
17,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,127.77,2007
47,Love Happens,Drama,Universal,40,2.004444,18,36.08,2009
1,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010

In [7]:
movies.sort_values(['Audience score %', 'Rotten Tomatoes %'], ascending=[False, True])

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
73,A Dangerous Method,Drama,Independent,89,0.448645,79,8.97,2011
5,WALL-E,Animation,Disney,89,2.896019,96,521.28,2008
21,Tangled,Animation,Disney,88,1.365692,89,355.01,2010
71,Across the Universe,romance,Independent,84,0.652603,54,29.37,2007
38,My Week with Marilyn,Drama,The Weinstein Company,84,0.825800,83,8.26,2011
...,...,...,...,...,...,...,...,...
54,Killers,Action,Lionsgate,45,1.245333,11,93.40,2010
2,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
17,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,127.77,2007
47,Love Happens,Drama,Universal,40,2.004444,18,36.08,2009
1,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010

In [8]:
movies['Worldwide Gross'].max()

709.82

In [9]:
movies['Worldwide Gross'].idxmax()

13

In [10]:
movies.iloc[13]

Film                 The Twilight Saga: New Moon
Genre                                      Drama
Lead Studio                               Summit
Audience score %                              78
Profitability                            14.1964
Rotten Tomatoes %                             27
Worldwide Gross                           709.82
Year                                        2009
Name: 13, dtype: object

In [11]:
movies.iloc[movies['Worldwide Gross'].idxmax()]

Film                 The Twilight Saga: New Moon
Genre                                      Drama
Lead Studio                               Summit
Audience score %                              78
Profitability                            14.1964
Rotten Tomatoes %                             27
Worldwide Gross                           709.82
Year                                        2009
Name: 13, dtype: object

In [12]:
movies['Worldwide Gross'].min()

0.03

In [13]:
movies['Worldwide Gross'].idxmin()

7

In [15]:
movies.iloc[7]

Film                 Waiting For Forever
Genre                            Romance
Lead Studio                  Independent
Audience score %                      53
Profitability                      0.005
Rotten Tomatoes %                      6
Worldwide Gross                     0.03
Year                                2011
Name: 7, dtype: object

In [16]:
movies.corr()

ValueError: could not convert string to float: 'Youth in Revolt'

In [17]:
movies.corr(numeric_only=True)

,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
Audience score %,1.000000,0.068606,0.606906,0.389898,-0.226329
Profitability,0.068606,1.000000,0.045739,0.167330,-0.186841
Rotten Tomatoes %,0.606906,0.045739,1.000000,0.027388,-0.086700
Worldwide Gross,0.389898,0.167330,0.027388,1.000000,-0.139275
Year,-0.226329,-0.186841,-0.086700,-0.139275,1.000000

In [18]:
movies

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,19.62,2010
1,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010
2,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
3,What Happens in Vegas,Comedy,Fox,72,6.267647,28,219.37,2008
4,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,117.09,2011
...,...,...,...,...,...,...,...,...
71,Across the Universe,romance,Independent,84,0.652603,54,29.37,2007
72,A Serious Man,Drama,Universal,64,4.382857,89,30.68,2009
73,A Dangerous Method,Drama,Independent,89,0.448645,79,8.97,2011
74,27 Dresses,Comedy,Fox,71,5.343622,40,160.31,2008
75,(500) Days of Summer,comedy,Fox,81,8.096000,87,60.72,2009

In [19]:
movies['Genre'].value_counts()

Genre
Comedy       41
Drama        13
Romance      12
Animation     4
Fantasy       1
Romence       1
Comdy         1
Action        1
romance       1
comedy        1
Name: count, dtype: int64

In [20]:
movies['Genre'].unique()

array(['Comedy', 'Drama', 'Animation', 'Romance', 'Fantasy', 'Romence',
       'Comdy', 'Action', 'romance', 'comedy'], dtype=object)

In [21]:
movies['Genre'].nunique()

10

In [22]:
movies['Genre'].replace('Comdy', 'Comedy')

0      Comedy
1      Comedy
2      Comedy
3      Comedy
4       Drama
       ...
71    romance
72      Drama
73      Drama
74     Comedy
75     comedy
Name: Genre, Length: 76, dtype: object

In [23]:
movies

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,19.62,2010
1,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010
2,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
3,What Happens in Vegas,Comedy,Fox,72,6.267647,28,219.37,2008
4,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,117.09,2011
...,...,...,...,...,...,...,...,...
71,Across the Universe,romance,Independent,84,0.652603,54,29.37,2007
72,A Serious Man,Drama,Universal,64,4.382857,89,30.68,2009
73,A Dangerous Method,Drama,Independent,89,0.448645,79,8.97,2011
74,27 Dresses,Comedy,Fox,71,5.343622,40,160.31,2008
75,(500) Days of Summer,comedy,Fox,81,8.096000,87,60.72,2009

In [24]:
movies['Genre'] = movies['Genre'].replace(['Comdy', 'comedy', 'romance', 'Romence'], ['Comedy', 'Comedy', 'Romance', 'Romance'])

In [26]:
movies['Genre'].value_counts()

Genre
Comedy       43
Romance      14
Drama        13
Animation     4
Fantasy       1
Action        1
Name: count, dtype: int64

In [27]:
replace_dict = {'Comdy':'Comedy', 'romance':'Romance', 'comedy':'Comedy', 'Romence':'Romance'}

In [28]:
movies['Genre'].replace(replace_dict)

0      Comedy
1      Comedy
2      Comedy
3      Comedy
4       Drama
       ...
71    Romance
72      Drama
73      Drama
74     Comedy
75     Comedy
Name: Genre, Length: 76, dtype: object

In [29]:
movies['Audience score %'].between(40,50)

0     False
1     False
2      True
3     False
4     False
      ...
71    False
72    False
73    False
74    False
75    False
Name: Audience score %, Length: 76, dtype: bool

In [30]:
movies[movies['Audience score %'].between(40,50)]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
2,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
9,Tyler Perry's Why Did I get Married,Romance,Independent,47,3.724192,46,55.86,2007
16,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,56,32.40,2009
17,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,127.77,2007
20,The Back-up Plan,Comedy,CBS,47,2.202571,20,77.09,2010
22,Something Borrowed,Romance,Independent,48,1.719514,15,60.18,2011
24,Sex and the City Two,Comedy,Warner Bros.,49,2.883500,15,288.35,2010
25,Sex and the City 2,Comedy,Warner Bros.,49,2.883500,15,288.35,2010
31,Over Her Dead Body,Comedy,New Line,47,2.071000,15,20.71,2008
32,Our Family Wedding,Comedy,Independent,49,0.000000,14,21.37,2010
37,New Year's Eve,Romance,Warner Bros.,48,2.536429,8,142.04,2011
40,Monte Carlo,Romance,20th Century Fox,50,1.983200,38,39.66,2011
47,Love Happens,Drama,Universal,40,2.004444,18,36.08,2009
52,Leap Year,Comedy,Universal,49,1.715263,21,32.59,2010
54,Killers,Action,Lionsgate,45,1.245333,11,93.40,2010
65,Ghosts of Girlfriends Past,Comedy,Warner Bros.,47,2.044400,27,102.22,2009

In [34]:
movies.nlargest(5, 'Profitability')

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
67,Fireproof,Drama,Independent,51,66.934000,40,33.47,2008
59,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,252.04,2008
13,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,709.82,2009
6,Waitress,Romance,Independent,67,11.089742,89,22.18,2007
11,Twilight,Romance,Summit,82,10.180027,49,376.66,2008

In [35]:
movies.nsmallest(10, 'Audience score %')

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
1,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010
47,Love Happens,Drama,Universal,40,2.004444,18,36.08,2009
17,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,127.77,2007
2,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
54,Killers,Action,Lionsgate,45,1.245333,11,93.40,2010
9,Tyler Perry's Why Did I get Married,Romance,Independent,47,3.724192,46,55.86,2007
16,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,56,32.40,2009
20,The Back-up Plan,Comedy,CBS,47,2.202571,20,77.09,2010
31,Over Her Dead Body,Comedy,New Line,47,2.071000,15,20.71,2008
65,Ghosts of Girlfriends Past,Comedy,Warner Bros.,47,2.044400,27,102.22,2009

In [41]:
movies.sample(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
51,Letters to Juliet,Comedy,Summit,62,2.639333,40,79.18,2010
16,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,56,32.40,2009
2,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
36,Nick and Norah's Infinite Playlist,Comedy,Sony,67,3.352729,73,33.53,2008
69,Dear John,Drama,Sony,66,4.598800,29,114.97,2010

In [43]:
movies.sample(frac=0.04)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
18,The Duchess,Drama,Paramount,68,3.207850,60,43.31,2008
23,She's Out of My League,Comedy,Paramount,60,2.440500,57,48.81,2010
52,Leap Year,Comedy,Universal,49,1.715263,21,32.59,2010